#about{
  width: 80%;
  margin: auto;
  margin-top: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-about{
  width: 50%;
  position: relative;
  z-index: 9998;
}

.content-about h3{
  font-size: 25px;
}

.content-about p{
  margin-top: 30px;
}

.btn-download{
  margin-top: 20px;
  background-color: #0CE1EF;
  width: 40%;
  border-radius: 4px;
  padding: 8px 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-download{
  margin-left: 10px;
}

.btn-download:hover{
  background-color: #0bccda;
}
