.footer{
  margin-top: 15%;
  background-color: #0CE1EF;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.info-area{
  margin: auto;
  width: 95%;
  padding: 50px;
  display: flex;
  justify-content: space-between;

}

.info-me{
  width: 35%;
}

.info-me p{
  margin-top: 20px;
  font-size: 15px;
}

.info-me a{
  background-color: #433E3E;
  width: 70%;
  text-decoration: none;
}

.info-me a:hover{
  background-color: #221f1f
}

.info-contact{
  width: 27%;
}

.info-contact ul{
  list-style: none;
  font-size: 18px;
}

.info-contact h2{
  margin-bottom: 20px;
}

.info-contact ul li{
  margin-bottom: 10px;
}

.info-contact ul li a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.info-contact ul li a:hover{
  color: #0bbac7;
}

.social-media{
  width: 27%;
}

.social-media div{
  margin-top: 20px;
}

.icon-footer{
  margin-right: 10px;
  color: black;
  transition: 0.3s;
}

.github:hover{
  color: #171515;
}

.whats:hover{
  color: #19ca60;
}

.ig:hover{
  color: #962fbf;
}

.final{
  background-color: #433E3E;
  padding: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 900px){
  .info-area{
    flex-direction: column;
    align-items: center;
  }

  .info-me{
    margin-top: 5%;
    width: 95%;
    text-align:center ;
  }

  .info-me a{
    margin: auto;
    margin-top: 20px;
  }

  .info-contact{
    width: 95%;
    align-items: center;
    text-align: center;
    margin-top: 8%;
  }

  .social-media{
    width: 95%;
    margin-top: 8%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px){
  .info-area{
    padding: 20px;
  }

  .footer{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 25%;
  }
}
